div {
    display: inline-block;
    text-align:center;
    width: 50%;
    border: 3px solid rgb(0,0,0,0.5);
    border-radius: 15px;
    vertical-align: top;
}

h2{
    font-family: IBM, cursive;
    font-weight: 900;
    font-style: oblique;
    font-size: 35px;
}

p{
    font-family: IBM cover;
}