div {
    display: inline-block;
    text-align:center;
    width: 50%;
    border: 3px solid rgb(0,0,0,0.5);
    border-radius: 15px;
    vertical-align: top;
}

.n1{
    font-family: IBM, bottom;
    font-weight: 900;
    font-style: oblique;
    font-size: 15px;
    color: green;
}

.n1 h2{
   font-family: IBM, bottom;
    font-weight: 900;
    font-style: oblique;
    font-size: 20px;
    color: rgb(34, 93, 93);
}

.n2{
    font-family: IBM, bottom;
    font-weight: 900;
    font-style: oblique;
    font-size: 20px;
    color: blue;
}

.n2 h2{
   font-family: IBM, bottom;
    font-weight: 900;
    font-style: oblique;
    font-size: 20px;
    color: black;
}

.n3{
    font-family: IBM, bottom;
    font-weight: 900;
    font-style: oblique;
    font-size: 22px;
    color: red;
}

.n3 h2{
   font-family: IBM, bottom;
    font-weight: 900;
    font-style: oblique;
    font-size: 20px;
    color: black;
}